BeautifulSoup==3.2.1
Flask==0.10.1
Flask-Limiter==0.6.3
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
beautiful-print==0.11
beautifulsoup4==4.3.2
-e git+https://github.com/imiric/flask-sass.git@12323e631749cae5da105c7096e7db5a033dddaf#egg=flask_sass-master
futures==2.1.6
gunicorn==18.0
itsdangerous==0.24
newrelic==2.26.2.24
parsedatetime==1.2
pyScss==1.2.0.post3
pymongo==2.6.3
python-binary-memcached==0.24.2
python-postmark==0.4.3
requests==2.2.1
sendgrid==0.3.7
six==1.6.1
smtpapi==0.1.1
socketIO-client==0.5.3
tinys3==0.1.11
unittest2==0.5.1
websocket-client==0.12.0
wsgiref==0.1.2
