<script src='/static/dropzone.js'></script>

<script>

(function() {
	var exec = function(command, showDefaultUI, value) {
		$(window.EditableElement).focus();
		if (command == 'insertHTML') {
			document.execCommand("insertHTML", false, "<h6 id='__placeholder'>_</h6>");
			$("#__placeholder").replaceWith(value);
			Save.save();
		} else {
			document.execCommand(command, showDefaultUI, value);
		}
	}
	Exec = exec;
	
	$('#__done_btn').click(function() {
		if (window.location.pathname=='/theme') {
			window.location = '/';
		} else {
			window.location = window.location.href.split('?')[0]; // reload page
		}
	});

	$('#__undo_btn').click(function() {
		exec("undo", true);
	});
	
	$('#__header_btn').click(function() {
		exec("formatBlock", true, "H1");
	});
	
	$('#__subheader_btn').click(function() {
		exec("formatBlock", true, "H2");
	});
	
	$('#__link_btn').click(function() {
		var url = prompt("Enter the name of a page you want to link to, or a full external URL:");
		if (!url) return;
		if (url.indexOf('www.') == 0) {
			url = 'http://' + url;
		}
		if (url.search(/(http:|https:|mailto:)/) != 0) {
			url = location.origin + '/' + url;
		}
		exec("createLink", true, url);
		window.open(url, '_blank');
	});
	
	// setup file dropping:
	(function() {
		var dummyPreviewsContainer = $("<div></div").get(0);
		
		var url = '/__meta/upload';
		var fullDropzone = new Dropzone("body", {
			url: url,
			autoProcessQueue: true,
			addRemoveLinks: false,
			clickable: false,
			previewsContainer: dummyPreviewsContainer
		});
		// disable the full-page dropzone on mousedown inside the page b/c we don't want the dropzone to interfere with internal dragging
		$("body").mousedown(function() {
			fullDropzone.disable();
		}).mouseup(function() {
			fullDropzone.enable();
		});
		var buttonDropzoneOpts = {
			url: url,
			autoProcessQueue: true,
			addRemoveLinks: false,
			previewsContainer: dummyPreviewsContainer
		};
		var photoDropzone = new Dropzone('#__photo_btn', buttonDropzoneOpts);
		var fileDropzone = new Dropzone('#__file_btn', buttonDropzoneOpts);
		[fullDropzone, photoDropzone, fileDropzone].forEach(function(dropzone) {
			dropzone.on('addedfile', function() {
				Loader.increment();
			});
			dropzone.on('success', function(file, response) {
				var info = JSON.parse(response);
				var type = info.mimetype.split('/')[0];
				if (type == 'image') {
					exec("insertImage", true, info.url);
				} else {
					var element;
					if (type == 'audio') {
						element = $("<audio controls draggable/>").attr({src: info.url, alt: info.name}).get(0);
					} else if (type == 'video') {
						element = $("<video controls draggable/>").attr({src: info.url, alt: info.name}).get(0);
					} else {
	          element = $("<img/>")
	          .attr({src: "/__meta/fileImage/"+encodeURIComponent(info.name), "download-filename": info.name, "download-url": info.url, alt: info.name})
	          .get(0);
					}
					exec("insertHTML", true, element.outerHTML);
				}
			});
			dropzone.on('complete', function() {
				Loader.decrement();
			});
		});
	})();
	
	$('#__format_btn').click(function() {
		Sidebar.show("/static/format.html");
	});
	
	$("#__embed_btn").click(function() {
		Sidebar.show("/__meta/embed");
	});
	$(window.EditableElement).click(function(e) {
		var embeds = $(e.target).closest('[data-embed-id]');
		if (embeds.length > 0) {
			var embed = embeds.get(0);
			if ($(embed).hasClass('__editable_embed')) {
				var id = $(embed).attr("data-embed-id");
				window.open("/__meta/embed/"+id+"/edit", "");
			} else {
				alert("This item has no settings to customize.");
			}
			return false;
		}
	});
	
	$("#__settings_btn").click(function() {
		Sidebar.show("/__meta/settings?page=" + encodeURIComponent(location.pathname.substring(1)));
	});
	
	$('#__code_btn').click(function() {
		var pageName = location.pathname.substring(1);
		location = "/__meta/code?page="+encodeURIComponent(pageName);
	});
	
	$("#__lock_btn").click(function() {
		Sidebar.show("/__meta/settings?page=" + encodeURIComponent(location.pathname.substring(1)), function() {
			$("#__field_emails_that_can_edit").focus();
		});
	})
	
})();

</script>
