<script src='/static/dropzone.js'></script>

<script>

(function() {
	var exec = function(command, showDefaultUI, value) {
		$(window.EditableElement).focus();
		if (command == 'insertHTML') {
			document.execCommand("insertHTML", false, "<h6 id='__placeholder'>_</h6>");
			$("#__placeholder").replaceWith(value);
			Save.save();
		} else {
			document.execCommand(command, showDefaultUI, value);
		}
	}
	Exec = exec;
	
	$('#__done_btn').click(function() {
		if (window.location.pathname=='/theme') {
			window.location = '/';
		} else {
			window.location = window.location.href.split('?')[0]; // reload page
		}
	});

	$('#__undo_btn').click(function() {
		exec("undo", true);
	});
	
	$('#__header_btn').click(function() {
		exec("formatBlock", true, "H1");
	});
	
	$('#__subheader_btn').click(function() {
		exec("formatBlock", true, "H2");
	});
	
	$('#__link_btn').click(function() {
		var url = prompt("Enter the name of a page you want to link to, or a full external URL:");
		if (!url) return;
		if (url.indexOf('www.') == 0) {
			url = 'http://' + url;
		}
		if (url.search(/(http:|https:|mailto:)/) != 0) {
			url = location.origin + '/' + url;
		}
		exec("createLink", true, url);
		window.open(url, '_blank');
	});
	
	$('#__format_btn').click(function() {
		Sidebar.show("/static/format.html");
	});
	
	$("#__embed_btn").click(function() {
		Sidebar.show("/__meta/embed");
	});
	$(window.EditableElement).click(function(e) {
		var embeds = $(e.target).closest('.__editable_embed');
		if (embeds.length > 0) {
			var embed = embeds.get(0);
			var id = $(embed).attr("data-embed-id");
			Sidebar.show("/__meta/embed/"+id+"/edit");
			return false;
		}
	});
	
	$("#__layout_btn").click(function() {
		window.location = '/theme';
	});
	
	$("#__settings_btn").click(function() {
		Sidebar.show("/__meta/settings?page=" + encodeURIComponent(location.pathname.substring(1)));
	});
	
	$('#__code_btn').click(function() {
		var pageName = location.pathname.substring(1);
		location = "/__meta/code?page="+encodeURIComponent(pageName);
	});
	
	$("#__lock_btn").click(function() {
		Sidebar.show("/__meta/settings?page=" + encodeURIComponent(location.pathname.substring(1)), function() {
			$("#__field_emails_that_can_edit").focus();
		});
	})
	
})();

</script>

{% include "editing/upload.html" %}
