<div id='__code_debugger'>
	<a href='/__meta/code?page={{ page.name }}'>Back to editing code</a>
	<a href='javascript:$("#__code_debugger").hide()' style='float: right'>Close<a>
	<div id='__error_list'>
		<div id='__no_errors_yet'>No errors yet</div>
	</div>
</div>

<style>

#__code_debugger {
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: 250px;
	background-color: #f4f4f4;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
	max-height: 50%;
	padding: 10px;
}

#__error_list > * {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: monospace;
	color: black;
	word-wrap: break-word;
}

</style>

<script>

$(window).error(function(e) {
	$("#__no_errors_yet").remove();
	var errorNode = $("<div></div>");
	var text = "";
	if (e.originalEvent.error && e.originalEvent.error.stack) {
		text = e.originalEvent.error.stack;
	} else {
		text = e.originalEvent.message;
	}
	errorNode.text(text);
	$("#__error_list").append(errorNode);
})

</script>
