<script>


function Throttle(options) {
	var self = {};
	self.uploadDelay = options.uploadDelay;
	if (self.uploadDelay == undefined) self.uploadDelay = 400;
	self.timeBetweenUploads = options.timeBetweenUploads;
	if (self.timeBetweenUploads == undefined) self.timeBetweenUploads = 1500;
	self.upload = options.upload;
	self.setLoading = options.setLoading;
	
	/*
	This class attempts to uphold the following rules:
	1. don't upload if the data has changed within the uploadDelay interval
	2. don't upload with less than timeBetweenUploads time between uploads
	3. always upload eventually
	4. exponential backoff in the event of failures (not yet implemented)
	*/
	
	self.uploadingData = null;
	self.uploadStartTime = null;
	self.uploadInProgress = false;
	
	self.uploadedData = null;
	self.uploadFinishTime = null;
		
	self.currentData = null;
	self.currentDataTime = Date.now();
	
	self.lastFailureTime = null;
	self.nFailures = 0;
	
	self.setData = function(data) {
		self.currentData = data;
		self.currentDataTime = Date.now();
		work();
	}
	
	var work = function() {
		var backoffWaitTime = self.nFailures > 0 ? Math.pow(2, self.nFailures) * 1000 : 0;
		if (self.nFailures > 0 && Date.now() - self.lastFailureTime < backoffWaitTime) {
			setTimeout(work, backoffWaitTime - (Date.now() - self.lastFailureTime));
		} else {		
			var needsUpload = self.currentData != self.uploadingData;
			var finished = self.currentData == self.uploadedData;
			self.setLoading(!finished);
			if (needsUpload) {
				if (Date.now() - self.currentDataTime < self.uploadDelay) {
					// try again after uploadDelay:
					setTimeout(work, self.uploadDelay);
				} else {
					// we can try to upload now:
					if (!self.uploadInProgress) {
						if (Date.now() - self.uploadFinishTime < self.timeBetweenUploads) {
							// try again after timeBetweenUploads:
							setTimeout(work, self.timeBetweenUploads);
						} else {
							var toUpload = self.currentData;
							self.uploadingData = toUpload;
							self.uploadStartTime = Date.now();
							self.uploadInProgress = true;
							self.upload(toUpload, function(success) {
								self.uploadInProgress = false;
								if (success) {
									self.uploadedData = toUpload;
									self.uploadFinishTime = Date.now();
								} else {
									self.nFailures++;
									self.lastFailureTime = Date.now();
								}
								work();
							});
						}
					}
				}
			}
		}
	}
	return self;
}


// responsible for saving the document:
(function() {	
	var wasLoading = false;
	var setLoading = function(loading) {
		if (loading != wasLoading) {
			wasLoading = loading;
			if (loading) SaveIndicator.increment();
			else SaveIndicator.decrement();
		}
	}
	
	var getTitle = function() {
		var getTextFromFirstElementOfTag = function(tag) {
			var e = $(window.EditableElement).find(tag).toArray();
			if (e.length) {
				return $(e[0]).text();
			}
		}
		var title = null;
		'title h1 h2 h3 h4 h5 h6'.split(" ").forEach(function(tag) {
			if (!title) {
				title = getTextFromFirstElementOfTag(tag);
			}
		})
		if (!title) {
			title = $(window.EditableElement).text().split("\n")[0];
		}
		return title.trim();
	}
	
	var throttle = Throttle({
		setLoading: setLoading,
		upload: function(data, callbackWithSuccess) {
			var title = getTitle();
			document.title = title;
			$.ajax({
				url: '/__meta/save'+location.pathname,
				type: 'POST',
				data: {source: data, title: title},
				success: function() {
					callbackWithSuccess(true);
				},
				error: function() {
					callbackWithSuccess(false);
				}
			});
		}
	});
	
	var save = function() {
		throttle.setData($(window.EditableElement).html());
	}
	
	$(window.EditableElement).bind("input", function() {
		save();
	});
	
	Save = {
		save: save
	}
})();
</script>
