<script>

Sidebar = {
	current: null,
	show: function(url) {
		$.ajax({
			url: url,
			success: function(response) {
				Sidebar.dismiss();
				var content = $("<div>"+response+"</div>").addClass('__sidebar').get(0);
				var close = $("<div>×</div>").addClass('__close').click(function() {
					$(content).remove();
				}).get(0);
				$(content).append(close).appendTo(document.body);
				Sidebar.current = content;
			}
		})
	},
	dismiss: function() {
		if (Sidebar.current) {
			Sidebar.current.remove();
			Sidebar.current = null;
		}
	}
}

</script>

<style>

.__sidebar {
	position: fixed;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 220px;
	background-color: #111;
	z-index: 30;
	overflow: hidden;
	color: white;
	margin-top: -1px;
	box-sizing: border-box;
	padding: 20px;
	font-size: small;
}
.__sidebar .__close {
	position: absolute;
	right: 0px;
	top: 0px;
	font-weight: bold;
	font-size: 16px;
	width: 24px;
	height: 24px;
	background-color: white;
	color: #111;
	text-align: center;
	padding-top: 1px;
	padding-bottom: -1px;
	box-sizing: border-box;
	cursor: default;
}
.__sidebar .__close:hover {
	background-color: #ccc;
}

.__sidebar button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	font-size: 1em;
	font-weight: bold;
	background-color: white;
	color: black;
	border: none;
	outline: none;
}
.__sidebar button:before {
	font-weight: normal;
	font-size: large;
}
.__sidebar button:hover {
	background-color: gray;
}

</style>
