body {
	font-family: sans-serif;
	line-height: 1.4;
	color: #111;
}
a {
	color: #e22;
}
img {
	max-width: 100%;
	height: auto;
}
@media screen and (max-width: 749px) {
	#__theme_root {
		padding: 10px;
	}
	#__theme_sidebar {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
}
@media screen and (min-width: 750px) {
	#__theme_sidebar {
		position: fixed;
		left: 0px;
		padding: 10px;
		width: 210px;
		bottom: 0px;
		top: 0px;
		background-color: #f2f2f2;
		overflow-y: auto;
	}
	#__theme_body {
		position: absolute;
		top: 0px;
		left: 230px;
		bottom: 10px;
		right: 10px;
		padding: 10px;
		max-width: 1200px;
	}
}
