@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-mqmgfy');
	src:url('fonts/icomoon.eot?#iefix-mqmgfy') format('embedded-opentype'),
		url('fonts/icomoon.woff?-mqmgfy') format('woff'),
		url('fonts/icomoon.ttf?-mqmgfy') format('truetype'),
		url('fonts/icomoon.svg?-mqmgfy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
	content: "\e600";
}
.icon-paperclip:before {
	content: "\e601";
}
.icon-cog:before {
	content: "\e602";
}
.icon-tools:before {
	content: "\e603";
}
.icon-code:before {
	content: "\e604";
}
.icon-checkmark:before {
	content: "\e605";
}
.icon-ccw:before {
	content: "\e606";
}
.icon-pictures:before {
	content: "\e607";
}
