#__toolbar {
  font-family: sans-serif;
  color: black;
  line-height: 1.3; }

  .__icons {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 90px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    text-align: right;
    display: table;
    overflow: scroll; }

    .__icons > div {
      display: table-cell;
      vertical-align: middle; }

      .__icons button {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        color: #e22;
        height: 40px;
        outline: none;
        width: 100%;
        -webkit-tap-highlight-color: transparent;
        text-align: right; }
        .__icons button:before {
          padding-right: 1em; }
          .__icons button:hover {
            background-color: #e22;
            color: white; }
            .__icons h6 {
              font-weight: normal;
              color: gray; }
