#__content {
  outline: none; }

  #__toolbar {
    font-family: sans-serif;
    color: black;
    line-height: 1.3; }

    .__icons {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 10;
      text-align: center;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap; }

      .__icons button {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        color: #e22;
        height: 40px;
        outline: none;
        padding: 0.4em;
        -webkit-tap-highlight-color: transparent;
        text-align: right; }
        .__icons button:before {
          padding-right: 1em; }
          .__icons button:hover {
            background-color: #e22;
            color: white; }
            .__icons h6 {
              font-weight: normal;
              color: gray;
              display: inline-block;
              display: none; }

#__header {
  opacity: 0.5;
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease; }

  #__header:before {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    content: "edit header";
    opacity: 0;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease; }

    #__header:hover {
      opacity: 1;
      cursor: pointer; }

      #__header:hover:before {
        opacity: 1; }

        body.__config_viewing_header #__content {
          border: 2px dotted gray; }

          #__content_container {
            cursor: text; }

            @media screen and (min-width: 500px) {
              #__undo_btn {
                display: none;   }
}
