@import 'util';

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: small;
}
#controls {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
#controls div {
	padding: 1em;
	margin-left: 1em;
	margin-left: 1em;
	display: inline-block;
	color: white;
	background-color: $trim;
	cursor: default;
}
#controls div:hover {
	background-color: $trim-selected;
}
#editors {
	position: absolute;
	top: 3em;
	left: 0px;
	width: 100%;
	bottom: 0px;
}
#editors > pre {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	top: -1em;
}
#editors > pre.visible {
	display: block;
}
