@import 'util';

#__edit:link {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	font-size: large;
	color: black;
	text-decoration: none;
	@include transition(transform 0.7s ease);
	z-index: 100;
}
#__edit:link:hover {
	@include transform(rotate(180deg));
}
.__config_custom_domain #__edit {
	display: none;
}
html, body, #__theme_root {
	height: 100%;
	margin: 0px;
}
#__content {
	min-height: 100px;
}
