@import 'util';

#__content, #__theme_root {
	outline: none;
}
#__toolbar {
	font-family: sans-serif;
	color: black;
	line-height: 1.3;
}
.__icons {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	z-index: 1000;
	text-align: center;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
}
.__icons > div {
	
}

.__icons {
	button {
		@include appearance(none);
		border: none;
		background-color: transparent;
		color: $trim;
		height: 40px;
		outline: none;
		padding: 0.4em;
		-webkit-tap-highlight-color: transparent;
		text-align: right;
	}
	button:before {
		padding-right: 1em;
	}
	button:hover {
		background-color: $trim;
		color: white;
	}
	h6 {
		font-weight: normal;
		color: gray;
		display: inline-block;
		display: none;
	}
}

#__header {
	opacity: 0.5;
	@include transition(opacity 0.7s ease);
}
#__header:before {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	content: "edit header";
	opacity: 0;
	@include transition(opacity 0.7s ease);
	color: $trim;
	text-shadow:
	   -1px -1px 0 white,  
	    1px -1px 0 white,
	    -1px 1px 0 white,
	     1px 1px 0 white;
}
#__header:hover {
	opacity: 1;
	cursor: pointer;
}
#__header:hover:before {
	opacity: 1;
}
body.__config_viewing_header #__content {
	border: 2px dotted gray;
}

/* hide undo button unless on mobile */
@media screen and (min-width: 500px) {
	#__undo_btn {
		display: none;
	}
}

#__done_btn {
	min-width: 73px; /* so that it doesn't shift the layout when we change the text to 'saving...' */
}

body.__config_edit_mode #__theme_root {
	cursor: not-allowed;
}
body.__config_edit_mode #__content {
	cursor: text;
}
body.__config_edit_mode.__config_theme_page #__theme_root {
	cursor: text;
}
#__content {
	outline: none;
	border: 1px dashed rgba(0,0,0,0.5);
}
