<h2>Extras</h2>
<div id='__embed_list'>
	<div data-embed-name='like'>
		<h4>Facebook "Like" button</h4>
		<p>
			Make it easy for viewers to like and share your page on Facebook.
		</p>
		<button>Add</button>
	</div>
	<div data-embed-name='disqus'>
		<h4>Comments from Disqus</h4>
		<p>
			Let users comment and discuss your page.
		</p>
		<button>Add</button>
	</div>
	<div data-embed-name='map'>
		<h4>Map</h4>
		<p>
			An interactive map showing any place you choose.
		</p>
		<button>Add</button>
	</div>
	<div data-embed-name='page_list'>
		<h4>List of recently created pages</h4>
		<p>
			A list of the pages you've recently added to your site.
		</p>
		<button>Add</button>
	</div>
</div>


<script>

$("#__embed_list button").click(function(e) {
	var name = $(e.target).closest("div[data-embed-name]").attr('data-embed-name');
	Loader.increment();
	$.ajax({
		method: 'POST',
		url: "/__meta/embed/create?type="+encodeURIComponent(name)+"&url="+encodeURIComponent(window.location.href),
		success: function(response) {
			Loader.decrement();
			Exec("insertHTML", false, response + "<br/>");
			Dragging.bindDraggables();
			Save.save();
		},
		error: function() {
			Loader.decrement();
			alert("An error occurred.");
		}
	})
});

</script>

<style>

</style>
