<h2>Extras</h2>
<div id='__embed_list'>
	<div data-embed-name='like'>
		<h4>Facebook "Like" button</h4>
		<p>
			Make it easy for viewers to like and share your page on Facebook.
		</p>
		<button>Add</button>
	</div>
</div>


<script>

$("#__embed_list button").click(function(e) {
	var name = $(e.target).closest("div[data-embed-name]").attr('data-embed-name');
	Loader.increment();
	$.ajax({
		method: 'POST',
		url: "/__meta/embed/create?type="+encodeURIComponent(name)+"&url="+window.location.href,
		success: function(response) {
			Loader.decrement();
			Exec("insertHTML", false, response);
			Dragging.bindDraggables();
			Save.save();
		},
		error: function() {
			Loader.decrement();
			alert("An error occurred.");
		}
	})
});

</script>

<style>

</style>
