{% extends "base.html" %}
{% block body %}

<style>
body > div > div {
	text-align: left !important;
	vertical-align: top !important;
}
</style>

<h1>Moderator dashboard</h1>

<form action='' method='POST'>
<div>
	<label>Site:</label>
	<input type='text' name='site' value='{% if site %}{{ site.record.name }}{% endif %}'/>
	<em>This the subdomain of the site; e.g. for http://pikachu.42pag.es, the site name would be 'pikachu'.</em>
</div>
{% if site %}
<div>
	<h3>Site info</h3>
	<p>
		<strong>Emails:</strong> {{ site.record.emails_that_can_edit }}
	</p>
</div>
{% endif %}
<div>
	<input type='submit' name='action' value='Reveal info'/>
	<input type='submit' name='action' value='Gain edit access'/>
	<input type='submit' name='action' value='Delete'/>
</div>
</form>

{% endblock %}
