<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'/>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
	
	<title>{{title}}</title>
	
	<link rel='stylesheet' href='/static/css/page.css'/>
	<link rel='stylesheet' href='/static/css/icomoon/style.css'/>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-37604830-7', 'auto');
	  ga('send', 'pageview');

	</script>
	
	{% if theme and theme.css %} <style> {{ theme.css | safe }} </style> {% endif %}
	<style>{{ css | safe }}</style>
</head>

<body class='{{ config_classes }}'>
	{% if not edit %}
		<a id='__edit' href='?edit' nofollow class='icon-cog'></a>
	{% endif %}
	
	<div id='__theme_root'>
		{{ page_code | safe }}
	</div>
	
	{% include "hints.html" %}
	
	{% if edit %}
		<script>
		(function() {
			// remove the '?edit' from the URL:
			window.history.replaceState({}, "", window.location.href.split('?')[0]);
		
			{% if is_theme_editor %}
			window.EditableElement = $("#__theme_root").get(0);
			{% else %}
			window.EditableElement = $("#__content").get(0);
			$("#__theme_root").click(function(e) {
				if ($(e.target).parents('#__content').length == 0) {
					//window.open("/theme", "theme");
				}
			})
			{% endif %}
			// make it editable:
			$(window.EditableElement).attr({contentEditable: true});
			
			if (window.innerWidth <= 600 && !localStorage.__smallScreenWarningDisplayed) {
				alert("The 42pag.es editor doesn't work great on small screens, but you're welcome to give it a shot. It's much better on a computer.");
				localStorage.__smallScreenWarningDisplayed = true;
			}
		})();
		</script>
		
		<div id='__toolbar'>
			{% include "toolbar.html" %}
		</div>
		{% if is_theme_editor %}
			{{ theme_list_code | safe }}
		{% endif %}
	{% endif %}
	{% if not edit %}
		{% if theme and theme.js %}
		<script> {{ theme.js }} </script>
		{% endif %}
		<script>
		
		</script>
		<script>
		{{ js | safe }}
		</script>
	{% endif %}
</body>
</html>
