<div id='__settings_sidebar'>
	
	<form id='__settings_form' action='{{ action_url }}'>
			<h3>Site settings</h3>
			{{ site_fields | safe }}
			<div>
				<a href='/__meta/domain' target='_blank'>Set up a custom domain</a>
			</div>
		
			<h3>Page settings</h3>
			{{ page_fields | safe }}
		<input type='submit' value='Save' class='__sidebar_bottom'/>
	</form>

	<script>

	(function() {
		var form = $("#__settings_form").get(0);
		$(form).submit(function() {
			Loader.increment();
			try {
				$.ajax({
					url: $(form).attr('action'),
					type: 'POST',
					data: $(form).serialize(),
					success: function(response) {
						// upload lock icon:
						var locked = $("#__field_emails_that_can_edit").val().length > 0;
						$("#__lock_btn").removeClass('icon-lock').removeClass('icon-lock-open').addClass(locked ? 'icon-lock' : 'icon-lock-open');
						
						Loader.decrement();
						Sidebar.dismiss();
					},
					error: function() {
						Loader.decrement();
						alert("Error saving!");
					}
				})
			} catch (e) {
				alert(e);
			}
			return false;
		})
	})();

	</script>
	
</div>
