<link rel='stylesheet' href='/static/css/toolbar.css'/>
<div class='__icons'>
	<div>
		<button id='__done_btn' class='icon-checkmark'>Done</button>
		<button id='__undo_btn' class='icon-ccw'>Undo</button>
		<button id='__settings_btn' class='icon-cog'>Settings</button>
		<h6>Insert</h6>
		<button id='__header_btn' class='icon-uniE60A'>Header</button>
		<button id='__subheader_btn' class='icon-uniE60A'>Subheader</button>
		<style>
		#__subheader:before {font-size: 0.6em;}
		</style>
		<button id='__link_btn' class='icon-uniE600'>Link</button>
		<button style='display:none' id='__photo_btn' class='icon-pictures'>Photo</button>
		<button id='__file_btn' class='icon-paperclip'>File/Picture</button>
		<button id='__embed_btn' class='icon-landscape'>Extras</button>
		<h6>Edit</h6>
		<button id='__format_btn' class='icon-tools'>Format</button>
		<button id='__layout_btn' class='icon-newspaper'>Layout</button>
		<button id='__code_btn' class='icon-code'>Code</button>
		<button id='__lock_btn' {% if locked %} class='icon-lock' {% else %} class='icon-lock-open' {% endif %}></button>
	</div>
</div>

{% include "editing/util.html" %}
{% include "editing/save.html" %}
{% include "editing/actions.html" %}
{% include "editing/loader.html" %}
{% include "editing/sidebar.html" %}
{% include "editing/popup.html" %}
{% include "editing/imageEditing.html" %}
{% include "editing/dragging.html" %}

<script>
(function() {
	
	$("#__header").click(function() {
		window.location = '/__meta/header?edit';
	})
	
})();
</script>
